* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(./img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7vw;
}

.divWrap {
    background-color: #fff;
    min-height: 100vh;
    padding: 1em;
    box-shadow: 5px 5px 50px rgba(240, 46, 170, 70%),
                -5px -5px 50px rgba(240, 46, 170, 70%)
                ;
    
}   
.container {
    margin-bottom: 15px;
    display: flex;
}
#task-input {
    width: 100%;
}
#add-button {
    flex: 0 0 auto;
    line-height: 10px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 0;
    color: #235e17;
    background-color: #99ca8f;
}
#add-button:hover {
    cursor: pointer;
    color: #fff;
    background-color: #235e17;
}
.task-area {
    border: solid 2px #99ca8f;
}
.task-tabs {
    position: relative;
    display: flex;
    border-bottom: solid 4px #99ca8f;
    flex-wrap: wrap;
}
.task-tabs > div {
    width: 80px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}
#under-line {
    padding: 0;
    width: 80px;
    top: 27px;
    position: absolute;
    height: 4px;
    background-color: #235e17;
    transition: all 0.3s ease;
}
.task {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.task > div {
    padding: 0.5rem;
    border-bottom: solid 1px #99ca8f ;
}
.task > div:nth-child(1) {
    flex: 1;
}
.task > div:nth-child(2)  {
    display: flex;
}
.task > div:nth-child(2) > span {
    padding: 0 1rem 0 1rem;
}
.task > div:nth-child(2):hover {
    cursor: pointer;
}
.task-done {
    text-decoration: line-through;
    background-color: #DADADA;
}
.ri--arrow-go-back-line {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%230240ff' d='m5.828 7l2.536 2.535L6.95 10.95L2 6l4.95-4.95l1.414 1.415L5.828 5H13a8 8 0 1 1 0 16H4v-2h9a6 6 0 0 0 0-12z'/%3E%3C/svg%3E");
}
.ri--arrow-down-s-line {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%230240ff' d='m12 13.171l4.95-4.95l1.414 1.415L12 16L5.636 9.636L7.05 8.222z'/%3E%3C/svg%3E");
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }
    #add-button {
        margin-top: 8px;
        width: 100%;
        border-radius: 5px;
        font-size: 20px;
        height: 22px;
    }
    .task {
        flex-direction: column;
    }
    .task > div:nth-child(2) {
        width: 100%;
        justify-content: right;
    }

}